* {
	margin: 0;
	padding: 0;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	font-family: 'Lato', sans-serif;
}
/*************FONTS*************

	LIST ITEMS: 1em;
	HEADERS: 1.3em;
	font-family: 'Lato', sans-serif;
*/

span {
	font-family: ‘Lato’, Arial, serif; 
	font-weight: 700;
	font-size: 2em;
}

.price {
	text-align: center;
}

hr {
	height: 0.3em;
	background-color: black;
}
.clear {
	clear: both;
	overflow: hidden;
}

body {
	background-color: #EDC;
	margin-top: 20px;
}

.offer {
	position: fixed;
	top: 0;
	left: 0;
	background-color: black;
	height: 20px;
	color: white;
	text-align: center;
	font: 0.7em;
	width: 100%;
}

nav {
	height: 40px;
	background-color: white;
}

nav img {
	width: 10%;
}

nav ul {	
	text-align: center;
}
nav ul li {
	display: inline-block;
	padding: 0.65em;
}

nav ul li a {
		text-decoration: none;
		color:black;
}

.container {
	width: 80%;
	margin: 0 auto;
	background-color: #EDC;
}

.container img {
	width: 100%;
}

.frontpage {
	width: 100%;
	margin-top: 30px;
	font-size: 1.15em;
	line-height: 1.6em;
	text-align: justify;
	overflow: hidden;
}

.frontpage img {
	width: 30%;
	float: left;
	margin-right: 40px;
}

.frontpage h2 {
	text-align: center;
	padding-top: 10px;
}

.frontpage h3 {
	padding-top: 20px;
}

/**** PRODUCTS ****/
.products {
	overflow: hidden;
	width: 70%;

	margin: 10px auto;
}
.products div {
	width: 32.33%;
	min-height: 385px;
	margin: 0.5%;
	float: left;
	border: 2px solid black;
	background-size: 100% 100%;
}

.products div:hover {
	background-size: 100% 100%;
}

.product-offer {
	background-color: white;
	height: 25px;
	color: black;
	text-align: center;
	font: 0.7em;
	width: 99%;
	margin: 5px auto;
	margin-top: 20px;
	border: 2px solid black;
}

/**** PRODUCT HOVERS ****/


		.jersey {
			background: url('images/jersey.jpg') no-repeat;
		}

		.jersey:hover {
			background: url('images/jerseyhover.jpg')
		}

		.blouse {
			background: url('images/blouse.jpg')
		}

		.blouse:hover {
			background: url('images/blousehover.jpg')
		}

		.jacket {
			background: url('images/jacket2.jpg')
		}

		.jacket:hover {
			background: url('images/jacket2hover.jpg')
		}

		.pumps {
			background: url('images/pumps.jpg')
		}

		.pumps:hover {
			background: url('images/pumpshover.jpg')
		}

		.cardigan {
			background: url('images/cardigan.jpg')
		}

		.cardigan:hover {
			background: url('images/cardiganhover.jpg')
		}

		.shoes {
			background: url('images/shoes.jpg')
		}

		.shoes:hover {
			background: url('images/shoeshover.jpg')

		}

		.blazer {
			background: url('images/blazer.jpg');
		}

		.blazer:hover {
			background: url('images/blazerhover.jpg')
		}

		.sunglasses {
			background: url('images/sunglasses.jpg')
		}

		.sunglasses:hover {
			background: url('images/sunglasseshover.jpg')
		}

		.tshirt {
			background: url('images/tshirt.jpg')
		}

		.tshirt:hover {
			background: url('images/tshirthover.jpg')
		}

		.knitter {
			background: url('images/knitter.jpg')
		}

		.knitter:hover {
			background: url('images/knitterhover.jpg')
		}

		.sweater {
			background: url('images/sweater.jpg')
		}

		.sweater:hover {
			background: url('images/sweaterhover.jpg')
		}

		.shorts {
			background: url('images/shorts.jpg')
		}

		.shorts:hover {
			background: url('images/shortshover.jpg')

		}



footer {
	font-size: 0.9em;
	clear: both;
}

footer ul {
	text-align: center;
}

footer ul li.section {
	list-style: none;
	display: inline-block;
	padding: 40px 100px;
}

footer ul li {
	list-style: none;
	text-align: left;
}

footer ul li a {
	text-decoration: none;
	color: black;
}

/**** MEDIA QUERIES ****/

/**** LANDSCAPE PHONE, PORTRAIT TABLET ****/

@media only screen and (max-width: 1024px) {

	nav {
		margin-top: 10px;
	}

	.container {
		width: 95%;
	}

	.container img {
		width: 100%;
	}

	.frontpage img {
		width: 70%;
		margin-left: 15%;
		margin-right: 15%;	
	}

	.frontpage h2 {
		text-align: center;
		padding-top: 310px;
	}

	.price {
		margin-top: 0px;
	}
	
	.offer {
		height: 20px;
		line-height: 1.2em;
	}

	.offer p {
		font-size: 0.65em;
	}


	.products {
		margin: 0 auto;
		width: 100%;

	}

	.products div {
		width: 31%;
		border: 2px solid black;
		background-size: 100% 100%;
		min-height: 320px;
	}

	.products div:hover {
		background-size: 100% 100%;
	}

	footer ul {
		text-align: center;
	}

	footer ul li.section {
	list-style: none;
	padding: 40px 20px;
	}
}

/**** MOBILE ****/
@media only screen and (max-width: 480px), and (max-device-width: 480px) {

	.offer {
		height: 20px;
	}

	nav {
		margin-top: 20px;
	}

	.frontpage {
	font-size: 0.9em;
	}
	.container {
		width: 100%;
	}

	.frontpage img {
		width: 80%;
		margin-left: 10%;
		margin-right: 10%;
	}

	.products {
		margin: 0 auto;
		width: 100%;
	}

	.frontpage h2 {
		text-align: center;
		padding-top: 320px;
	}

	.products div {
		width: 42%;
		margin-left: 5%;
		min-height: 250px;
		border: 2px solid black;
		background-size: 100% 100%;
	}
}

@media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi) { 
    
    .offer {
		height: 20px;
	}

	nav {
		margin-top: 20px;
	}

	.frontpage {
	font-size: 0.9em;
	}
	.container {
		width: 100%;
	}

	.frontpage img {
		width: 80%;
		margin-left: 10%;
		margin-right: 10%;
	}

	.products {
		margin: 0 auto;
		width: 100%;
	}

	.products div {
		width: 42%;
		min-height: 250px;
		margin-left: 5%;
		border: 2px solid black;
		background-size: 100% 100%;
	}
}