* {
	margin: 0;
	padding: 0;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	font-family: 'Lato', sans-serif;
}
/*************FONTS*************

	LIST ITEMS: 1em;
	HEADERS: 1.3em;
	font-family: 'Lato', sans-serif;
*/

span {
	font-family: ‘Lato’, Arial, serif; 
	font-weight: 700;
	font-size: 2em;
}

.price {
	text-align: center;
}

hr {
	height: 0.3em;
	background-color: black;
}

/*Offers going at the top of the screen*/

/**** CLEARFIX ****/
.clear {
	clear: both;
	overflow: hidden;
}

/**** OLD COLOR ****
background-color: #EBE6E6
*/
body {
	background-color: #EEDDCC;
	margin-top: 20px;
}

.offer {
	position: fixed;
	top: 0;
	left: 0;
	background-color: black;
	height: 20px;
	color: white;
	text-align: center;
	font-size: 0.9em;
	width: 100%;
}

nav {
	height: 40px;
	background-color: white;
}

nav img {
	width: 10%;
}

nav ul {	
	text-align: center;
}
nav ul li {
	display: inline-block;
	padding: 0.65em;
}

nav ul li a {
		text-decoration: none;
		color:black;
}
/****MAIN PAGE****/
.container {
	width: 80%;
	margin: 0 auto;
}

.container>img{
	width: 100%;
}

.frontpage {
	width: 100%;
	margin-top: 30px;
	font-size: 1.15em;
	line-height: 1.6em;
	text-align: justify;
}

.frontpage img {
	width: 30%;
	float: left;
	margin-right: 40px;
}

/**** PRODUCTS ****/
.border {
	border: 1px solid black;
	overflow: hidden;
	width: 1157px;
	margin: 80px auto;
}
.border div {
	width: 385px;
	height: 449px;
	float: left;
}
/**** PRODUCT HOVERS ****/
		.jersey {
			background: url('images/jersey.jpg');
		}

		.jersey:hover {
			background: url('images/jerseyhover.jpg')
		}

		.blouse {
			background: url('images/blouse.jpg')
		}

		.blouse:hover {
			background: url('images/blousehover.jpg')
		}

		.jacket {
			background: url('images/jacket2.jpg')
		}

		.jacket:hover {
			background: url('images/jacket2hover.jpg')
		}

		.pumps {
			background: url('images/pumps.jpg')
		}

		.pumps:hover {
			background: url('images/pumpshover.jpg')
		}

		.cardigan {
			background: url('images/cardigan.jpg')
		}

		.cardigan:hover {
			background: url('images/cardiganhover.jpg')
		}

		.shoes {
			background: url('images/shoes.jpg')
		}

		.shoes:hover {
			background: url('images/shoeshover.jpg')

		}



footer {
	font-size: 0.9em;
	clear: both;
	background: white;
}

footer ul {
	padding: 20px 60px;
	text-align: center;
}

footer ul li.section {
	list-style: none;
	display: inline-block;
}

footer ul li {
	text-align: justify;
}

/**** MEDIA QUERIES ****/

@media (max-width: 1375px) {

	.border {
		overflow: hidden;
		width: 772px;
		margin: 80px auto;
	}		

}

@media (max-width: 900px) {

	.border {
		overflow: hidden;
		width: 387px;
		margin: 80px auto;
	}	
}
